In [4]:
import pandas as pd
from utils import *

## Datasets used
1. Synthetic data
2. [Titanic survivors](https://www.kaggle.com/c/titanic/data)
3. [Breast Cancer Wisconsin (Diagnostic) Data Set](https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic))
4. Harmonizome
  + ProteomicsDB Cell Type and Tissue Protein Expression Profiles ([Gene-Attribute Matrix Cleaned](http://amp.pharm.mssm.edu/static/hdfs/harmonizome/data/proteomicsdb/gene_attribute_matrix_cleaned.txt.gz))
  + HGNC

In [16]:
## Load Titanic
titanic = pd.read_csv('datasets/Titanic/train.csv')
print titanic.shape
titanic.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [ ]:
## Synthetic data
X, y = make_classification(n_classes=2, class_sep=2, weights=[0.1, 0.9],
	n_informative=3, n_redundant=1, flip_y=0,
	n_features=20, n_clusters_per_class=1,
	n_samples=1000, random_state=10)

In [19]:
## Examine class ratio
print titanic['Survived'].sum()
print titanic['Survived'].sum()/float(titanic.shape[0])

342
0.383838383838

In [29]:
## Process features
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in ['Sex', 'Cabin', 'Embarked']:
    titanic[col] = le.fit_transform(titanic[col])

## Split df into X and y and convert to numpy.array
X = titanic.drop(['PassengerId', 'Survived', 'Name', 'Ticket'], axis=1).values
y = titanic['Survived'].values
print X.shape, y.shape

(891, 8) (891,)

In [20]:
## Load breast cancer data
bc = pd.read_csv('datasets/wpbc.data', 
                    names=['ID', 'outcome'] + ['Attr%s'%i for i in range(33)])
print bc.shape
bc.head()

(198, 35)

,ID,outcome,Attr0,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,...,Attr23,Attr24,Attr25,Attr26,Attr27,Attr28,Attr29,Attr30,Attr31,Attr32
0,119513,N,31,18.02,27.60,117.50,1013.0,0.09489,0.1036,0.1086,...,139.70,1436.0,0.1195,0.1926,0.3140,0.1170,0.2677,0.08113,5.0,5
1,8423,N,61,17.99,10.38,122.80,1001.0,0.11840,0.2776,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,3.0,2
2,842517,N,116,21.37,17.44,137.50,1373.0,0.08836,0.1189,0.1255,...,159.10,1949.0,0.1188,0.3449,0.3414,0.2032,0.4334,0.09067,2.5,0
3,843483,N,123,11.42,20.38,77.58,386.1,0.14250,0.2839,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2.0,0
4,843584,R,27,20.29,14.34,135.10,1297.0,0.10030,0.1328,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,3.5,0

In [24]:
print bc['outcome'].value_counts()

N    151
R     47
dtype: int64

In [32]:
## Split df into X and y and convert to numpy.array
X = bc.drop(['ID', 'outcome'], axis=1)
y = bc['outcome'].map({'N':0, 'R':1})

X = X.values
y = y.values

print X.shape, y.shape
print y.sum()/float(y.shape[0])

(198, 33) (198,)
0.237373737374

In [35]:
## Load ProteomicsDB data
proteome = pd.read_csv('datasets/Harmonizome/gene_attribute_matrix_cleaned.txt.gz', 
                       sep='\t', compression='gzip', skiprows=2)
print proteome.shape
proteome.head()

(2776, 56)

,GeneSym,UniprotAcc,GeneID/Brenda Tissue Ontology BTO:,38,675,1615,568,2806,1938,18,...,1158,1363,1078,763,2553,1129,776,289,2417,914
0,LOC102724985,Q6P996,102724985,5.017355,4.830592,5.783336,5.049440,4.858041,4.605708,4.868083,...,5.395317,4.734884,4.835634,4.659831,4.643150,4.376222,4.026439,4.659961,3.929821,4.854218
1,PDXDC1,H3BU11,23042,4.744159,4.601433,5.267198,4.741168,4.571314,4.518610,4.565993,...,4.894014,4.403376,4.440597,4.472297,4.479050,4.216782,3.893532,4.520178,3.725262,4.458436
2,COG5,Q9UP83,10466,4.213385,4.213385,5.759206,4.528063,4.035077,4.359530,4.309750,...,4.634878,4.799939,4.510710,4.048240,3.924763,4.041728,4.135629,4.715816,4.092942,4.545271
3,HEXA,H3BU85,3073,4.535638,4.740634,5.118528,4.181380,4.731774,4.665979,4.865457,...,4.708274,4.937703,4.598400,5.290727,5.423842,4.154158,3.857923,5.115823,4.369458,5.008221
4,HEXB,H0Y9B6,3074,4.605520,4.591239,6.294882,4.139686,5.471996,4.442832,5.214406,...,5.139610,4.979131,5.654624,5.278758,5.283525,4.972013,4.536124,5.388605,4.576318,5.425797